.diva{
    height:0px;
    width:0%;
    border-bottom: 2.0px solid #D33367;
    
    -webkit-animation: increase 1s;
    -moz-animation:    increase 1s; 
    -o-animation:      increase 1s; 
    animation:         increase 1s; 
    animation-fill-mode: forwards;
    animation-delay: 0.5s;

  }
.diva2{
    height:0px;
    width:0%;
    border-bottom: 2.0px solid #D33367;
    
    -webkit-animation: increase 1s;
    -moz-animation:    increase 1s; 
    -o-animation:      increase 1s; 
    animation:         increase 1s; 
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
  }
.diva3{  
    height:0px;
    width:0%;
    border-bottom: 2.0px solid #D33367;
    
    -webkit-animation: increase 1s;
    -moz-animation:    increase 1s; 
    -o-animation:      increase 1s; 
    animation:         increase 1s; 
    animation-fill-mode: forwards;
    animation-delay: 0.7s;

  }
.diva4{
    height:0px;
    width:0%;
    border-bottom: 2.0px solid #D33367;
    
    -webkit-animation: increase 1s;
    -moz-animation:    increase 1s; 
    -o-animation:      increase 1s; 
    animation:         increase 1s; 
    animation-fill-mode: forwards;
    animation-delay: 0.8s;

  }
  
  @keyframes increase {
      100% {
          width: 100%;
      }
  }