@font-face {
    font-size:xx-small;
    font-family: 'Work Sans';
    src: url('../../public/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf') format('truetype');
    font-weight:800;
  }
@font-face {
    font-family: 'Anton';
    src: url('../../public/fonts/Anton/Anton-Regular.ttf') format('truetype');
    font-weight:800;
  }
@font-face {
    font-family: 'Lobster';
    src: url('../../public/fonts/Lobster//Lobster-Regular.ttf') format('truetype');
    font-weight:800;
  }