.strokeText{
    font-family: 'Inter', sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    height: 105px;
    padding-left: 4px;
}
.fillText{
    font-family: 'Inter', sans-serif;
    height: 210px;
}
.jaldi{
    font-family: Jaldi, sans-serif;
}